@model MusicDatabase.Data.Tables.Song

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SongName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SongName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsFeaturing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsFeaturing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.AlbumId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Artist.ArtistId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre.GenreId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SongId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
