@model MusicDatabase.Data.Tables.Artist

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtistName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RealName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RealName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartedYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartedYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArtistId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
